[submodule "packages/nativecore/ios/Sources/quickjs"]
	path = packages/nativecore/ios/Sources/quickjs
	url = https://github.com/bellard/quickjs.git
[submodule "apps/dev-app/packages/Yoga-SwiftUI"]
	path = apps/dev-app/packages/Yoga-SwiftUI
	url = https://github.com/Pickleboyonline/Yoga-SwiftUI.git
